<!-- app/views/home/index.html.erb -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
<!-- flex container -->
<div class="d-flex h-100">
  <!-- login box -->
  <div class="m-auto">
    
      <%= form_tag artists_path, method: "get", html: { class: "form-inline" } do %>

      <div class="form-group mb-2">
        <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-group col-xs-6 col-xs-offset-3 rounded m-2") %>
        <%= submit_tag "Search", class: 'btn-secondary btn-sm' %>
      </div>

    <% end %>

    </form>
  </div>


